@mixin rubik-light {
  font-weight: 300;
  font-family: 'Rubik', sans-serif;
}

@mixin rubik-regular {
  font-weight: 400;
  font-family: 'Rubik', sans-serif;
}

@mixin rubik-semi-bold {
  font-weight: 600;
  font-family: 'Rubik', sans-serif;
}

@mixin rubik-bold {
  font-weight: 700;
  font-family: 'Rubik', sans-serif;
}
