.upload-image-card {
  --height: 360px;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: var(--height);
  text-align: center;
  background-color: var(--color-ui-02);
  border-radius: var(--border-radius-01);
  box-shadow: var(--box-shadow-01);

  &-head {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: $spacer * 4;

    &__icon {
      margin-right: calc(#{$spacer} * 4);
    }

    &__title {
      margin: 0;
      color: var(--color-text-01);

      @include media-breakpoint-down(lg) {
        font-size: var(--font-size-text-18);
      }
    }
  }

  &__description {
    margin-bottom: $spacer * 4;
    font-size: var(--font-size-text-19);
    line-height: var(--font-size-text-13);

    @include media-breakpoint-down(lg) {
      font-size: var(--font-size-text-22);
      line-height: var(--font-size-text-16);
    }
  }

  &-action {
    margin-top: $spacer * 4;

    &__button {
      position: relative;
    }
  }
}
