.m-post-card-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 12px 14px;

  .a-card-title {
    font-size: 22px;
  }

  .x-material-icon {
    color: var(--color-icon-01);
  }
}
