.crop-editor {
  position: relative;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  height: calc(100vh - var(--header-height));

  @include media-breakpoint-down(lg) {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    height: auto;
  }

  // Touch area for scroll
  &::after {
    @include media-breakpoint-down(lg) {
      position: fixed;
      top: 0;
      right: 0;
      z-index: var(--z-index-sticky);
      width: 8px;
      height: 100vh;
      background-color: transparent;
      content: '';
    }
  }

  &__panel {
    z-index: 1;
    border-bottom: 2px solid var(--color-border-01);
    border-left: 1px solid var(--color-border-01);

    @include media-breakpoint-down(lg) {
      width: 100vw;
      height: 50vh;
    }

    &--disabled {
      $crop-panel: '.crop-panel';

      pointer-events: none;

      #{$crop-panel} {
        &-footer {
          opacity: 0.4;
        }
      }
    }

    &:nth-child(n + 3) {
      border-bottom: 0;
    }

    &:nth-child(odd) {
      border-left: 0;
    }
  }

  .upload-image-card {
    position: absolute;
    z-index: 2;

    @include center(true, true);

    @include media-breakpoint-down(lg) {
      position: fixed;
      max-width: 90%;
    }
  }
}
