.layout {
  $layout: '.layout';

  position: relative;

  &__inner {
    position: relative;
    z-index: 2;
    width: 100%;
    min-height: 100vh;
    padding-top: calc(var(--header-height) + var(--base-p-y) / 2);
  }

  .router-view {
    position: relative;
  }
}
