.default-layout {
  $drop-target: '.drop-target';

  position: relative;

  &--dragOver {
    #{$drop-target} {
      visibility: visible !important;
    }
  }

  .drop-target {
    position: fixed;
    top: var(--header-height);
    left: 0;
    z-index: var(--z-index-overlay);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - var(--header-height));
    background-color: var(--color-overlay-02);
    border: 2px dashed var(--color-border-04);
    visibility: hidden;

    &__title {
      color: var(--color-text-03);
      font-size: var(--font-size-text-14);
      pointer-events: none;
    }
  }
}
