@charset "UTF-8";

* {
  box-sizing: border-box;
}

::-moz-selection {
  color: #fff;
  background: #444;
}

::selection {
  color: #fff;
  background: #444;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: clip;
  color: var(--color-text-02);
  background-color: var(--color-ui-01);

  @include rubik-regular;
}
